/* Dashboard Nav bar */
.dashboardNav-bg {
  background-color: #046197;
}

/* Gradient Background */
.custom-gradient-bg {
  /* fallback for old browsers */
  background: #07aaf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #07aaf2, #50b4df);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #07aaf2, #50b4df, #079ad9);
}
