*{
    font-family: 'Sarabun', sans-serif;
}

.text-center {
    text-align: center;
}

.text-left {
    justify-items: left;
}

.text-right {
    text-align: right;
}

.underline {
    border-bottom: 2px solid;
}

.bg-gray{
    background-color:LightGray;
}



/* docout */

.docright {
    padding-left: 80px;
    padding-right: 100px;
}
.pt-10{
    padding-top: 10px;
}

td.title-inv{
    
}